{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}


{% block title %}
    Movies Crawler
{% endblock %}
{% block flashBag %}
    {% include '::flashBag.html.twig' %}
{% endblock %}
{% block avanzu_navbar %}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="https://image.freepik.com/free-icon/question-mark_318-52837.jpg" class="user-image" alt="User Image">
                    <span class="hidden-xs">{{ app.user.username }}</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="user-header">
                        <img src="https://image.freepik.com/free-icon/question-mark_318-52837.jpg" class="img-circle" alt="User Image">
                        <p>
                            {{ app.user.username}}
                            <small>Member since {{ app.user.joinDate|date("d/m/Y") }}</small>
                        </p>
                    </li>
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                            <a href={{ path('logout') }}#" class="btn btn-default btn-flat">Sign out</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}
{% block avanzu_sidebar %}
    <ul class="sidebar-menu">
        <li class="header">{{ 'sidebar.navigation.main_navigation'|trans }}</li>
        <li><a href="{{ path('home') }}"><i class="fa fa-pencil"></i>{{ 'sidebar.navigation.home'|trans }}</a></li>
        <li><a href="{{ path('logout') }}"><i class="fa fa-cog"></i>{{ 'sidebar.logout'|trans }}</a></li>
        <li class="treeview">
            <a href="#"><i class="fa fa-language"></i>{{ 'sidebar.navigation.language'|trans }}</a>
            <ul class="treeview-menu" style="display: none;">
                <li><a href="{{ path('switch_locale', {'locale': 'ro' }) }}"><i class="fa fa-circle-o"></i>{{ 'sidebar.navigation.language.ro'|trans }}</a></li>
                <li><a href="{{ path('switch_locale', {'locale': 'en' }) }}"><i class="fa fa-circle-o"></i>{{ 'sidebar.navigation.language.en'|trans }}</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}
