{% extends '::base-layout.html.twig' %}


{% set form_token %}
    {{ form_row(manageForm._token, {'id': "#id#"}) }}
{% endset %}

{% block page_title %}{{ 'navigation.management_movie.title'|trans }}{% endblock %}
{% block page_content %}
    {% block flashBag %}
        {{ parent() }}
    {% endblock %}
    <div class="box">
            {{ form_start(filterForm, { 'method' : 'get' }) }}
            <table class="table table-bordered table-hover dataTable" role="grid">
                <thead>
                    <tr role="row">
                        <td>{{ form_row(filterForm.results) }}</td>
                    {% if pagination %}
                        <td class="pagination pagination-sm no-margin pull-right">
                            {{ knp_pagination_render(pagination, '::adminlte_pagination.html.twig') }}
                        </td>
                    {% endif %}
                    </tr>
                </thead>
            </table>
            <table class="table table-bordered table-hover dataTable" role="grid" id="movies">
                <thead>
                {% if not filterForm.vars.valid %}
                <tr role="row" align="center">
                    <td colspan="10">
                        {{ form_errors(filterForm) }}
                    </td>
                </tr>
                {% endif %}
                <tr role="row" align="center">
                    <td width="15%">{{ 'management_movie.table.title'|trans }}</td>
                    <td width="15%">{{ 'management_movie.table.year'|trans }}</td>
                    <td width="15%">{{ 'management_movie.table.rating'|trans }}</td>
                    <td width="15%">{{ 'management_movie.table.genre'|trans }}</td>
                    <td width="15%">{{ 'management_movie.table.actors'|trans }}</td>
                    <td width="15%">{{ 'management_movie.table.directors'|trans }}</td>
                </tr>
                <tr role="row" align="center">
                    <td>
                        {{ form_row(filterForm.title, {'attr': {'placeholder' : 'management_voucher.form.placeholder.title'}}) }}
                    </td>
                    <td>
                        {{ form_row(filterForm.year, {'attr': {'placeholder' : 'management_voucher.form.placeholder.year'}}) }}
                    </td>
                    <td>
                        {{ form_row(filterForm.rating, {'attr': {'placeholder' : 'management_voucher.form.placeholder.rating'}}) }}
                    </td>
                    <td>
                        {{ form_row(filterForm.genre, {'attr': {'placeholder' : 'management_voucher.form.placeholder.genre'}}) }}
                    </td>
                    <td>
                        {{ form_row(filterForm.actors, {'attr': {'placeholder' : 'management_voucher.form.placeholder.actors'}}) }}
                    </td> <td>
                        {{ form_row(filterForm.directors, {'attr': {'placeholder' : 'management_voucher.form.placeholder.directors'}}) }}
                    </td>
                    <td>
                        <button type="submit" id="movie_filter_submit" name="submit"
                                class="btn btn-primary btn-flat">
                            <i class="glyphicon glyphicon-filter"></i>
                        </button>
                        {{ form_end(filterForm) }}
                    </td>
                </tr>
                </thead>
            </table>
        <div id="dom-target" style="display: none">
            {% set totalMovies = pagination.count %}
            <p>{{ totalMovies }}</p>
        </div>
        <div class="box-body table-responsive no-padding">
            <ul class="table table-bordered">
                {% set i = 0 %}
                {% for movie in pagination %}
                    {% set i = i + 1 %}
                    <li class="info-box">
                        <div class="box-title">
                            <h2>{{ movie.title }}  </h2>
                            <h4>({{ movie.year }})</h4>
                        </div>
                        <div style="display: inline-block; width: 100%">
                            <div style="float: left">
                                <img src={{ movie.image }}>
                            </div>
                            <div style="float: left; width: 40%">
                                <ul class="info-box-content">
                                    <li class="list-unstyled">
                                            {% if movie.directors is not null %}
                                                <span class="text-bold">Regia : </span>
                                                {% for director in movie.directors %}
                                                    {% if director != movie.directors|last %}
                                                        {{ director }},
                                                    {% else %}
                                                        {{ director }}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                    </li>

                                    <li class="list-unstyled">
                                        {% if movie.actors is not null %}
                                            <span class="text-bold">Actori : </span>
                                            {% for actor in movie.actors %}
                                                {% if actor != movie.actors|last %}
                                                    {{ actor }},
                                                {% else %}
                                                    {{ actor }}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </li>

                                    <li class="list-unstyled">
                                        {% if movie.genre is not empty %}
                                            <span class="text-bold">Gen : </span>
                                            {% for gen in movie.genre %}
                                                {% if gen != movie.genre|last %}
                                                    {{ gen }},
                                                {% else %}
                                                    {{ gen }}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </li>
                                    <li class="list-unstyled">
                                        {{ form_start(manageForm, {'method' : 'post', 'attr' : {'class' : 'form-inline'}}) }}
                                        {{ form_token|replace({'#id#':'add_to_watch__token_'~movie.id})|raw }}
                                        <div class="btn btn-app">
                                            {% include ':Components:popup.html.twig' with{
                                            'button' : "<i class='fa fa-star-o'></i>",
                                            'color' : 'notice',
                                            'action' : path('add_to_watch', {'id': movie.id }),
                                            'id' : movie.id,
                                            'type' : 'addMovie'
                                            }
                                            %}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div style="float: left; width: 40%">
                                <div class="caption">
                                    <div class="info-box-content">
                                        {% set name = "rating"  %}
                                        {% set newId = name ~ i %}
                                        <span class="info-box-icon bg-aqua" id={{ newId }} >
                                            <i class="fa fa-video-camera"></i>
                                        </span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Nota film</span>
                                            <span class="info-box-number">{{ (movie.rating+movie.ratingImdb)/2 }}</span>
                                        </div>
                                    </div>
                                </div>
                            <div>
                        </div>
                    </div>
                </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var div = document.getElementById("dom-target");
        var total = div.textContent;

        var ids = []
        str1 = "rating";
        for (i=1; i<=total; i++) {
            ids[i] = str1.concat(i);
        }

        for (i=1; i<=total; i++){
            document.getElementById(ids[i]).onmouseover = function(){mouseOver1()};
            document.getElementById(ids[i]).onmouseout = function(){mouseOut1()};
        }

        function mouseOver() {
            document.getElementById("rating1").style.color = "red";
        }

        function mouseOut(id) {
                document.getElementById("").style.color = "blue";
        }
    </script>
{% endblock %}