{% extends '::base-layout.html.twig' %}

{% set form_token %}
    {{ form_row(manageForm._token, {'id': "#id#"}) }}
{% endset %}

{% block page_title %}{{ 'navigation.want_to_watch.title'|trans }}{% endblock %}

{% block page_content %}

    {% block flashBag %}
        {{ parent() }}
    {% endblock %}

<div class="box">
    <div class="row">
        {{ form_start(filterForm, { 'method' : 'get'}) }}
        <table class="table table-bordered table-hover dataTable" role="grid">
            <thead>
            <tr role="row">
                <td>{{ form_row(filterForm.results) }}</td>
                {% if pagination %}
                    <td class="pagination pagination-sm no-margin pull-right">
                        {{ knp_pagination_render(pagination, '::adminlte_pagination.html.twig') }}
                    </td>
                {% endif %}
            </tr>
            </thead>
        </table>
            <table class="table table-bordered table-hover dataTable" role="grid" id="movies">
                <thead>
                {% if not filterForm.vars.valid %}
                    <tr role="row" align="center">
                        <td colspan="6">
                            {{ form_errors(filterForm, { 'method' : 'get', 'attr': {'class' : 'form-inline'}}) }}
                        </td>
                    </tr>
                {% endif %}
                {% if pagination %}
                <tr role="row" align="center" style="padding:0">
                    <th width="10%">{{ knp_pagination_sortable(pagination, 'watch_management.table.title'|trans, 'u.title') }}</th>
                    <th width="10%">{{ knp_pagination_sortable(pagination, 'watch_management.table.rating'|trans, 'u.rating') }}</th>
                    <th width="10%">{{ knp_pagination_sortable(pagination, 'watch_management.table.status'|trans, 'u.status') }}</th>
                    {#<th width="10%">{{ knp_pagination_sortable(pagination, 'watch_management.table.delete'|trans, 'u.delete') }}</th>#}
                    <th width="10%">{{ 'watch_management.table.actions'|trans }}</th>
                </tr>
                {% endif %}
                </thead>
                <tr role="row" align="center">
                    <td>
                        {{ form_row(filterForm.title, {'attr': {'placeholder' : 'management_voucher.form.placeholder.title'}}) }}
                    </td>
                    <td>
                        {{ form_row(filterForm.rating, {'attr': {'placeholder' : 'management_voucher.form.placeholder.rating'}}) }}
                    </td>
                    <td>
                        <button type="submit" id="want_watch_filter_submit" name="submit"
                                class="btn btn-primary btn-flat">
                            <i class="glyphicon glyphicon-filter"></i>
                        </button>
                        {{ form_end(filterForm) }}
                    </td>
                </tr>
                </thead>
            </table>
            <div class="box-body">
                <table class="table table-bordered">
                    <thead>
                    {#<tr align="center" style="font-weight: bold;">#}
                        {#<td width="5%">{{ 'management_group.table.title'|trans }}</td>#}
                        {#<td width="15%">{{ 'management_group.table.rating'|trans }}</td>#}
                        {#<td width="7%">Actions</td>#}
                    {#</tr>#}
                    </thead>
                    <div id="dom-target" style="display: none">
                        {% set totalMovies = pagination.count %}
                        <p>{{ totalMovies }}</p>
                    </div>
                    {% for favorite in pagination %}
                    <tr role="row" align="center" style="padding:0">
                         <td>{{ favorite.title }}</td>
                         <td>{{ favorite.rating }}</td>
                        <td>
                            <label class="switch">
                                <input type="checkbox">
                                <div class="slider round"></div>
                            </label>
                        </td>
                        <td>
                            {{ form_start(manageForm, { 'method' : 'get'}) }}
                            {{ form_token|replace({'#id#':'delete_to_watch__token_'~favorite.id})|raw }}
                            <span style="float: none">
                                {% include ':Components:popup.html.twig' with{
                                'button' : "<i class='fa fa-close'></i>",
                                'color' : 'danger',
                                'action' : path('delete_to_watch', {'id': favorite.id }),
                                'id' : favorite.id,
                                'type' : 'deleteMovie'
                                }
                                %}
                            </span>
                        </td>
                            {{ form_end(manageForm) }}
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {display:none;}

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
{% endblock %}

